html {
  position: relative;
}

html * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, html body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html body {
  font-family: "Helvetica Neue", sans-serif;
  height: 100vh;
  width: 100vw;
}

html input {
  outline: none;
  font-size: 1.0rem;
  padding: 0 5px;
}

html button {
  font-size: 0.8rem;
  color: white;
  background-color: #00bcd4;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 25px;
  padding: 3px 15px;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  outline: none;
}

html button:hover {
  background-color: #79d7e4;
}

html button.turn:hover {
  background-color: #eaeaea;
}

html ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #767676;
  overflow-y: scroll;
}

html li {
  padding: 10px 10px 10px 10px;
}

html canvas {
  display: block;
  margin: 10px auto;
}

html .popup > div {
  padding: 0 1.5rem;
}

html .popup > div:first-child {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

html .popup > div:last-child {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

html .popup-wrapper {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  z-index: 999;
}

html .popup-container {
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
}

html .popup-close {
  position: absolute;
  top: calc(5% - 0.5rem);
  right: calc(5% - 0.5rem);
  margin: 0.5rem;
  cursor: pointer;
  width: auto;
}

html .popup-input .input-name--wrapper {
  position: relative;
}

html .popup-input .input-label {
  text-align: center;
  margin: 0 0 1rem;
}

html .popup-input #input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25vh;
}

html .popup-input #name--error {
  background-color: #e1b2b2;
  border-radius: 14px;
  color: #da3838;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

html .popup-input #name {
  border: 1px solid #c2c4c6;
  border-radius: 2px;
  font-size: 1.0rem;
  padding: 5px 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  -webkit-transition: border 100ms linear;
  transition: border 100ms linear;
}

html .popup-input #name:focus {
  border: 1px solid #1e1e1e;
}

html .popup-action {
  background-color: #F2F2F2;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem 0 0;
}

html .popup-action .action-wrapper {
  text-align: center;
}

html .popup-action .action-wrapper button:last-child {
  margin-left: 1rem;
}

html .controls-wrapper {
  background-color: #ffffff;
  width: 50%;
  margin: 20px auto;
  border: 1px solid #767676;
}

html .controls-wrapper #events .welcome-message {
  text-align: center;
  margin: 0;
}

html .controls-wrapper #events .username {
  font-weight: bold;
}

html .chat-wrapper {
  padding: 10px;
}

html .chat-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .chat-wrapper form input {
  border: 1px solid #c2c4c6;
  border-radius: 2px;
  font-size: 1.0rem;
  margin: 0 10px 0 0;
  padding: 0 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: border 250ms linear;
  transition: border 250ms linear;
}

html .chat-wrapper form input:focus {
  border: 1px solid #1e1e1e;
}

html .chat-wrapper form button {
  width: 80px;
}

html #events {
  height: 75vh;
}
/*# sourceMappingURL=style.css.map */